.mainHeader {
    background-color: rgb(65, 65, 65);
    display: flex;
    align-items: center;
     justify-content: flex-start;
    gap: 500px;
    padding: 15px 30px;
    position: sticky;       
    top: 0;
    z-index: 999;  
}

.brand {
    display: flex;
    align-items: center;
    gap: 15px;
}

.mainHeader h1 {
    color: rgb(232, 232, 232);
    text-shadow: 2px 4px rgba(0, 0, 0, 0.5);
    margin: 0;
    padding: 0;
}

.Logo {
    width: 120px;
    height: auto;
    object-fit: contain;
}

