.instructions {
    display: flex;
    flex-direction: row;
    gap: 1em;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    border: 1px solid black;
    box-shadow: 0 2px 2px;
}

.instructions img {
    width: 80%;
    height: 80%;
}

/*
.image-container {
  width: 100%;
  height: 100%;
  object-fit: fill;
}
  */