.background {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 1000;
    display: grid;
    place-items: center;
}

.itineraryModal {
    width: 75vw;
    height: 75vh;
    background-color: white;
    z-index: 1000;
    box-shadow: 0 4px 8px;
    border-radius: 10px;
    padding: 20px;
    overflow: hidden;
}

.itineraryModal h2, h3 {
    text-align: center;
}