.itineraryCard {
    background-color: rgb(242, 242, 242);
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    height: 200px;
    box-shadow: 0 4px 8px;
    transition: background-color 0.5s ease-out;
}

.itineraryCard:hover {
    transition: background-color 0.5s ease;
    background-color: rgb(200, 200, 200);
}

.itineraryInfo {
    font-family: Arial, Helvetica, sans-serif;
}

.itineraryInfo h2 {
    text-align: center;
    color: rgb(50, 50, 50);
}

.itineraryInfo p {
    text-align: center;
    margin-top: 20px;
    color: rgb(114, 114, 114);
}